<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.warehouse.mapper.DeliverMapper">

    <resultMap id="BaseResultMap" type="com.abc.warehouse.pojo.Deliver">
            <id property="deliverId" column="deliver_id" jdbcType="BIGINT"/>
            <result property="deliverNo" column="deliver_no" jdbcType="BIGINT"/>
            <result property="houseName" column="house_name" jdbcType="VARCHAR"/>
            <result property="deliverTime" column="deliver_time" jdbcType="DATE"/>
            <result property="materialId" column="material_id" jdbcType="BIGINT"/>
            <result property="deliverCount" column="deliver_count" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="notes" column="notes" jdbcType="VARCHAR"/>
    </resultMap>



    <sql id="Base_Column_List">
        deliver_id,deliver_no,house_name,
        deliver_time,material_id,deliver_count,
        user_id,notes
    </sql>


    <select id="findCountByNameBetweenDates" resultType="java.util.Map">
        SELECT
            m.name AS materialName,
            CAST(SUM(d.deliver_count) AS SIGNED) AS totalDeliverCount
        FROM
            material_208201302 m
                INNER JOIN deliver_208201302 d ON m.id = d.material_id
        WHERE
            d.deliver_time BETWEEN #{startTime} AND #{endTime}
        GROUP BY
            m.name
        ORDER BY totalDeliverCount ASC
    </select>
</mapper>
