<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.warehouse.mapper.HouseMapper">

    <resultMap id="BaseResultMap" type="com.abc.warehouse.pojo.House">
            <id property="houseId" column="house_id" jdbcType="BIGINT"/>
            <result property="houseName" column="house_name" jdbcType="VARCHAR"/>
            <result property="houseAdd" column="house_add" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        house_id,house_name,house_add
    </sql>
</mapper>
