<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.warehouse.mapper.PermissionTypeMapper">

    <resultMap id="BaseResultMap" type="com.abc.warehouse.pojo.PermissionType">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="resourceId" column="resource_id" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="uri" column="uri" jdbcType="VARCHAR"/>
        <result property="isdisplay" column="isdisplay" javaType="INTEGER"></result>
    </resultMap>

    <sql id="Base_Column_List">
        id,resource_id,type,
        uri,isdisplay
    </sql>
</mapper>
