<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.warehouse.mapper.PermissionMapper">

    <resultMap id="BaseResultMap" type="com.abc.warehouse.pojo.Permission">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="permissionId" column="permission_id" jdbcType="BIGINT"/>

    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,permission_id
    </sql>
    <insert id="saveUserPermissions" parameterType="list">
        insert into permission_208201302(user_id,permission_id)
        <foreach item="userId" collection="userIds"  open="values" separator="," >
            (#{userId} , #{permissionId})
        </foreach>
    </insert>
    <select id="searchPermissionByRole" resultType="com.abc.warehouse.pojo.Permission">
          select * from permission_208201302 where permission_id in (select id from permission_type_208201302 where resource_id = #{resourceId})
                                               and user_id in (select id from user_208201302 where role = #{role})
    </select>
<!--    List<Permission> searchPermissionByUser(Long resourceId, Long userId, String empName);-->
    <select id="searchPermissionByUser" resultType="com.abc.warehouse.pojo.Permission">
        select * from permission_208201302 where permission_id in (select id from permission_type_208201302 where resource_id = #{resourceId})
                                             and user_id in (select id from user_208201302  where id = #{userId}  or  name like CONCAT('%',IFNULL(${empName},''),'%'))
    </select>

</mapper>
