<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.warehouse.mapper.PermissionTypeMapper">

    <resultMap id="BaseResultMap" type="com.abc.warehouse.pojo.PermissionType">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="resourceId" column="resource_id" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="uri" column="uri" jdbcType="VARCHAR"/>
        <result property="isdisplay" column="isdisplay" javaType="INTEGER"></result>
    </resultMap>

    <sql id="Base_Column_List">
        id,resource_id,type,
        uri,isdisplay
    </sql>
    <select id="getSelectMap" resultType="com.abc.warehouse.pojo.PermissionType">
        select id,type from permission_type_208201302
        where resource_id = #{resourceId} and id not in (select permission_id from permission_208201302 group by permission_id);
    </select>


    <resultMap id="TypeUriMap" type="com.abc.warehouse.dto.TypeUri">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="uri" column="uri" jdbcType="VARCHAR"/>
<!--        <result property="userId" column="user_id" jdbcType="BIGINT"/>-->
    </resultMap>
    
    <select id="getTypeUriMap" resultType="com.abc.warehouse.dto.TypeUri">
        select type.id,uri.uri from
        permission_type_208201302 type,permission_type_uri_208201302 uri
        where type.id = uri.type_id
        order by type.id;
    </select>
</mapper>
