<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.warehouse.mapper.StoreMapper">

    <resultMap id="BaseResultMap" type="com.abc.warehouse.pojo.Store">
            <id property="storeId" column="store_id" jdbcType="BIGINT"/>
            <result property="houseId" column="house_id" jdbcType="BIGINT"/>
            <result property="storeTime" column="store_time" jdbcType="TIMESTAMP"/>
            <result property="materialId" column="material_id" jdbcType="BIGINT"/>
            <result property="storeCount" column="store_count" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="notes" column="notes" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        store_id,house_id,store_time,
        material_id,store_count,user_id,
        notes
    </sql>
</mapper>
